/* Reposiciona o container de conteúdo para se ajustar a navbar fixa */

main>.container {
    padding: 60px 15px 0;
}


/* Justifica todos os textos das linhas das tabelas */

td {
    text-align: justify;
}


/* Define em 90% o tamanho da fonte, e cor azul para links e códigos*/

code,
a {
    color: #ff7f50;
    font-size: 90%;
}


/* Define a cor do link da navbar como sendo branca */

.nav-linke {
    color: white;
}


/* Define a cor do link da navbar como sendo rgb(125, 125, 175) */

.nav-linke:hover {
    color: rgb(125, 125, 175);
}